<div id="graphic-funnel" class="row graphic">
    <div class="col-md-8 col-md-offset-2">

        <h5>{{ COPY.graphics.funnel_hed }}</h5>

        <ul>
            <li>
                <strong>{{ COPY.graphics.funnel_1_hed }}</strong>
                {{ COPY.graphics.funnel_1_desc }}
            </li>
            <li>
                <strong>{{ COPY.graphics.funnel_2_hed }}</strong>
                {{ COPY.graphics.funnel_2_desc }}
            </li>
            <li>
                <strong>{{ COPY.graphics.funnel_3_hed }}</strong>
                {{ COPY.graphics.funnel_3_desc }}
            </li>
            <li>
                <strong>{{ COPY.graphics.funnel_4_hed }}</strong>
                {{ COPY.graphics.funnel_4_desc }}
            </li>
        </ul>

    </div><!--/col-->
</div><!--/row-->